.main{
    height: 100vw;
    display: flex;
    justify-content: center;
}
.activities{
   /* border: 1px solid black;*/
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.activity{
    display: flex;
    flex-direction: column;
    align-items: center;
   /* border: 1px solid black;*/
    width: 80%;
    background-color: #f7f7f7;
    height: auto;
    margin-top: 5%;
    padding: 4%;
    border-radius: 10px;
    text-align: center;
}

.activity h3{
    color: #454545;
}

.activity img{
    margin-top: 5%;
}

.activity-img{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.semana3{
    flex-direction: row;
    justify-content: space-between;
}


@media only screen and (max-width: 600px) {
    .activity{
        width: 95%;
    }
    .activity-img img{
        width: 90% !important;
    }
    .semana3{
        flex-direction: column;
    }
}