* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

body a {
    text-decoration: none;
    color: #f7f7f7
}

/*navbar*/

.active{
    background-color: #005ccc;
}

.navbar {
    background-color: #006AEA;
    padding: 25px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    font-weight: bolder;
    padding-left: 10%;
}

.nav-menu {
    /*border: 1px solid #fff;*/
    padding-right: 10%;
}

.nav-option {
    /* border: 1px solid #fff;*/
    padding: 10px;
}

.nav-option:hover {
    color: #002e66;
    border-bottom: 3px solid #002e66;
    background-color: transparent !important;
}

/*main*/

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.section-left {
    margin-top: 10vw;
    width: 50%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-right {
    width: 50%;
    margin-top: 10vw;
}

.section-right h1 {
    font-size: 40px;
    margin-bottom: 5vw;
    color: #006AEA;
}

.section-right div{
    width: 90%;
}

.main-img {
    width: 70%;
    margin-right: 10px;
}

.section-left h2{
   font-size: 45px;
   color: #232323;
}

.section-left h4, p{
  color:#232323;
  margin: 10px 0;
}

.section-left h4{
    border-bottom: 3px solid #006AEA;
    font-size: 18px;
}

.button-landing{
    background-color: #006AEA;
    border: none;
    padding: 15px;
}

.button-landing a{
    padding: 15px;
}

@media only screen and (max-width: 600px) {
    .section-left, .section-right{
        width: 100%;
    }
    .section-right {
        text-align: center;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .title {
        font-weight: bolder;
        padding-left: 0;
        padding-bottom: 5%;
    }
    .nav-menu {
        padding-right: 0;
    }
    
}